*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #FFFFFF;
  position: fixed;
  margin-bottom: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;;
}
nav ul{
	display: flex;
}
.active{
    background-color: rgb(82, 4, 82);
    color:rgb(255, 255, 255);
	box-shadow: 5px 10px 30px rebeccapurple;
	transition: all ease 0.2s;
}
nav ul li a{
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#242424;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}
.property{
    font-family: calibri;
	height:40px;
	line-height: 43px;
	padding: 0px 10px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    background-color: rebeccapurple;
}
nav ul li a:hover{
	background-color: rebeccapurple;
    color:#FFFFFF;
	box-shadow: 5px 10px 30px rebeccapurple;
	transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
		display:none;
	}




